
* {
  box-sizing: border-box;
}

body, table.body, h1, h2, h3, h4, h5, h6, p, td, div {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  background-color: #0c0d0f;
  color: #FFFFFF;
}
