.env
osi4iot_stack.yml
secrets/*
!secrets/*.example
config/admin_api/*
!config/admin_api/*.example
config/frontend/*
!config/frontend/*.example
config/grafana/*
!config/grafana/*.example
config/nodered/*
!config/nodered/*.example
certs/domain_certs/*
!certs/domain_certs/.gitkeep
certs/mqtt_certs/*
certs/mqtt_certs_old
!certs/mqtt_certs/.gitkeep
certs/mqtt_certs/ca_certs/*
!certs/mqtt_certs/ca_certs/.gitkeep
certs/mqtt_certs/nodered/*
!certs/mqtt_certs/nodered/.gitkeep
certs/mqtt_certs/broker/*
!certs/mqtt_certs/broker/.gitkeep
volumes/elasticsearch/*
!volumes/elasticsearch/.gitkeep
volumes/alertmanager/*
!volumes/alertmanager/.gitkeep
volumes/grafana_system/*
!volumes/grafana_system/.gitkeep
volumes/prometheus/*
!volumes/prometheus/.gitkeep
images/frontend/static/register/build
images/frontend/static/register/public/env-config.js
images/frontend/app/.env
images/frontend/app/node_modules
images/frontend/app/build
images/frontend/app/public/env-config.js
images/frontend/app_r18/.env
images/frontend/app_r18/node_modules
images/frontend/app_r18/build
images/frontend/app_r18/public/env-config.js
images/frontend/app_r18_old/.env
images/frontend/app_r18_old/node_modules
images/frontend/app_r18_old/build
images/mobile_sensors/app/.env
images/mobile_sensors/app/node_modules
images/mobile_sensors/app/build
!images/mobile_sensors/app/public/env-config.js
images/admin_api/node_modules
images/admin_api/build
images/admin_api/ssl_config
images/admin_api/mqtt_certs
images/admin_api/logs
images/s3_storage/node_modules
image/s3_storage/.env
images/sensor_demo/nodejs/temp_monitoring/certs
images/sensor_demo/nodejs/temp_monitoring/node_modules
images/sensor_demo/nodejs/temp_monitoring/.env
utils/osi4iot_cli/node_modules
utils/osi4iot_cli/osi4iot_state_old.json
utils/osi4iot_cli/osi4iot_state.json
utils/osi4iot_cli/osi4iot_stack.yml
utils/osi4iot_cli/certs
utils/osi4iot_cli/config
utils/osi4iot_cli/secrets
utils/osi4iot_cli/.osi4iot_keys
!utils/osi4iot_cli/dist
utils/osi4iot_cli/lib
!README.md
