.env
data/certbot
data/certs
data/certs_selfsigned
data/volumes/grafana/plugins
data/volumes/grafana/png
data/volumes/grafana/grafana.db
!data/volumes/grafana/.gitkeep
data/volumes/mosquitto/mqtts_certs
data/volumes/mosquitto/data
data/volumes/mosquitto/log
!data/volumes/mosquitto/.gitkeep
data/volumes/nodered/*
!data/volumes/nodered/flows.json
!data/volumes/nodered/settings.js
data/volumes/nodered/.gitkeep
data/volumes/pgdata/*
!data/volumes/pgdata/.gitkeep
data/volumes/pgadmin_data/*
!data/volumes/pgadmin_data/.gitkeep
data/volumes/portainer_data/*
!data/volumes/portainer_data/.gitkeep
data/volumes/elasticsearch/*
!data/volumes/elasticsearch/.gitkeep
data/volumes/alertmanager/*
!data/volumes/alertmanager/.gitkeep
data/volumes/grafana_system/*
!data/volumes/grafana_system/.gitkeep
data/volumes/prometheus/*
!data/volumes/prometheus/.gitkeep
images/admin_api/node_modules
images/admin_api/build
images/admin_api/ssl_config
images/admin_api/mqtts_certs
images/admin_api/logs
!README.md

