.env
certs/domain_certs/*
!certs/domain_certs/.gitkeep
certs/mqtt_nodered_certs/*
!certs/mqtt_nodered_certs/.gitkeep
certs/mqtt_server_certs/*
!certs/mqtt_server_certs/.gitkeep
volumes/grafana/plugins
volumes/grafana/png
volumes/grafana/grafana.db
!volumes/grafana/.gitkeep
volumes/mosquitto/data
volumes/mosquitto/log
!volumes/mosquitto/.gitkeep
volumes/nodered/*
!volumes/nodered/flows.json
!volumes/nodered/flows_cred.json
!volumes/nodered/settings.js
!volumes/nodered/.config.nodes.json
!volumes/nodered/package.json
volumes/nodered/.gitkeep
volumes/pgdata/*
!volumes/pgdata/.gitkeep
volumes/pgadmin/*
!volumes/pgadmin/.gitkeep
volumes/portainer_data/*
!volumes/portainer_data/.gitkeep
volumes/elasticsearch/*
!volumes/elasticsearch/.gitkeep
volumes/alertmanager/*
!volumes/alertmanager/.gitkeep
volumes/grafana_system/*
!volumes/grafana_system/.gitkeep
volumes/prometheus/*
!volumes/prometheus/.gitkeep
images/frontend/static/register/build
images/frontend/static/register/public/env-config.js
images/frontend/app/.env
images/frontend/app/node_modules
images/frontend/app/build
images/frontend/app/public/env-config.js
images/mobile_sensors/app/.env
images/mobile_sensors/app/node_modules
images/mobile_sensors/app/build
images/mobile_sensors/app/public/env-config.js
images/admin_api/node_modules
images/admin_api/build
images/admin_api/ssl_config
images/admin_api/mqtt_certs
images/admin_api/logs
images/sensor_demo/nodejs/temp_monitoring/certs
images/sensor_demo/nodejs/temp_monitoring/node_modules
images/sensor_demo/nodejs/temp_monitoring/.env
!README.md

