{
    "Servers": {
        "1": {
            "Name": "iot_platform_db",
            "Group": "Servers",
            "Port": ${POSTGRES_PORT},
            "Username": "${POSTGRES_USER}",
            "Host": "${POSTGRES_HOST}",
            "SSLMode": "prefer",
            "MaintenanceDB": "iot_platform_db"
        },
        "2": {
            "Name": "iot_data_db",
            "Group": "Servers",
            "Port": ${TIMESCALE_PORT},
            "Username": "${TIMESCALE_USER}",
            "Host": "${TIMESCALE_HOST}",
            "SSLMode": "prefer",
            "MaintenanceDB": "iot_data_db"
        }
    }
}