REGISTRATION_TOKEN_LIFETIME=<my_registration_token_lifetime>
REFRESH_TOKEN_LIFETIME=<my_refresh_token_lifetime>
REFRESH_TOKEN_SECRET=<my_refresh_token_secret>
ACCESS_TOKEN_SECRET=<my_access_token_secret>
ACCESS_TOKEN_LIFETIME=<my_access_token_lifetime>
MQTT_SSL_CERTS_VALIDITY_DAYS=<my_mqtt_ssl_certs_validity>
ENCRYPTION_SECRET_KEY=<my_encryption_secret_key>
PLATFORM_ADMIN_FIRST_NAME=<my_platform_admin_first_name>
PLATFORM_ADMIN_SURNAME=<my_platform_admin_last_name>
PLATFORM_ADMIN_USER_NAME=<my_platform_admin_login>
PLATFORM_ADMIN_EMAIL=<my_platform_admin_email>
PLATFORM_ADMIN_PASSWORD==<my_platform_admin_password>
PLATFORM_ADMIN_TELEGRAM_ID=<my_platform_telegramId>
GRAFANA_ADMIN_PASSWORD=<my_grafana_admin_password>
POSTGRES_USER=<my_postgres_user>
POSTGRES_PASSWORD=<my_postgres_user_password>
POSTGRES_DB=<my_postgres_db>
NOTIFICATIONS_EMAIL_USER=<my_notification_email_user>
NOTIFICATIONS_EMAIL_PASSWORD=<my_notification_email_password>
MAIN_ORGANIZATION_TELEGRAM_CHAT_ID=<my_main_organization_telegram_chat_id>
MAIN_ORGANIZATION_TELEGRAM_INVITATION_LINK=<my_main_organization_telegram_invitation_link>