GRAFANA_ADMIN_PASSWORD=<my_grafana_admin_password>
NOTIFICATIONS_EMAIL_USER=<my_notification_email_user>
NOTIFICATIONS_EMAIL_PASSWORD=<my_notification_email_password>
NOTIFICATIONS_EMAIL_ADDRESS=<my_notification_email_address>
TELEGRAM_BOTTOKEN=<my_telegram_bottoken>
TELEGRAM_CHATID=<my_telegram_chatif>
POSTGRES_DB=<my_postgres_db>
GRAFANA_DB_PASSWORD=<my_grafana_db_password>
GRAFANA_DATASOURCE_PASSWORD=<my_datasource_password>