ORG_1_MASTER_DEVICE_HASHES=<my_org_1_master_device_hash_1>,<my_org_1_master_device_hash_2>,...,<my_org_1_master_device_hash_n>
ORG_2_MASTER_DEVICE_HASHES=<my_org_2_master_device_hash_1>,<my_org_2_master_device_hash_2>,...,<my_org_2_master_device_hash_n>
...
ORG_m_MASTER_DEVICE_HASHES=<my_org_m_master_device_hash_1>,<my_org_m_master_device_hash_2>,...,<my_org_m_master_device_hash_n>