POSTGRES_PASSWORD=<my_postgres_password>
POSTGRES_USER=<my_postgres_user>
POSTGRES_DB=<my_postgres_db>
GRAFANA_DB_PASSWORD=<my_grafana_db_password>
GRAFANA_DATASOURCE_PASSWORD=<my_grafana_datasource_password>